gcloud beta compute --project=$PROJECT_NAME instances create-with-container instance-name-ph --zone=us-west1-b --machine-type=n1-standard-8 --subnet=default --network-tier=PREMIUM --metadata=google-logging-enabled=true --maintenance-policy=TERMINATE --service-account=$SERVICE_ACCOUNT --scopes=https://www.googleapis.com/auth/cloud-platform --image=cos-stable-69-10895-85-0 --image-project=cos-cloud --boot-disk-size=200GB --boot-disk-type=pd-standard --boot-disk-device-name=instance-name-ph --container-image=$DOCKER_IMAGE --container-restart-policy=never --container-stdin --container-tty --container-command=/home/entry.sh --container-env=BUCKET=bucket-ph,CODE=code-ph,CFG=cfg-ph --labels=container-vm=cos-stable-69-10895-85-0 --preemptible --container-mount-tmpfs=mount-path=/dev/shm &
